In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%cd ..

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')
non_borrower = pd.read_csv('non_borrower_user.csv')
loan = pd.read_csv('loan_activities.csv')

C:\Users\farel\AppData\Roaming\Python\Python310\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

c:\Users\farel\Downloads\datathon

In [8]:
train_loan = train.set_index('user_id').join(loan.set_index('user_id')).reset_index() #nyatuin data train sama loan
train_loan = train_loan.drop('pc8', axis=1) #drop kolom yang sama menurut heatmap
train_loan = train_loan.drop('pc9', axis=1) #drop kolom yang sama menurut heatmap
train['-1_count'] = train.isin([-1]).sum(axis=1) #nambahin kolom missing values (-1)
train['is_loanreference'] = train['user_id'].isin(loan["reference_contact"]) #nambahin kolom apakah usernya dijadiin loan reference
train["has_borrowed"] = train["user_id"].isin(loan["user_id"]) #nambahin kolom apakah usernya pernah minjem
loan["reference_contact_is_non_borrower"] = loan["reference_contact"].isin(non_borrower["user_id"]) #nambahin kolom apakah reference contactnya ada di data non borrower

In [12]:
loan_fraud = train_loan.loc[train_loan["label"]==1]
loan_fraud = loan_fraud[["user_id", "reference_contact", "loan_type", "ts"]]

In [13]:
loan_fraud.head()

     user_id  reference_contact  loan_type     ts
480     1080                NaN        NaN    NaN
582     1307                NaN        NaN    NaN
924     2001          1847220.0        4.0  228.0
925     2001           606041.0        5.0  253.0
926     2002          1273611.0        5.0   61.0

In [16]:
loan_nonfraud = train_loan.loc[train_loan["label"]==0]
loan_nonfraud = loan_nonfraud[["user_id", "reference_contact", "loan_type", "ts"]]

In [17]:
loan_nonfraud.head()

   user_id  reference_contact  loan_type     ts
0        3                NaN        NaN    NaN
1        5          2191460.0        5.0  759.0
2        5           176154.0       10.0  116.0
3        9          1611064.0        4.0  350.0
4        9           609079.0        4.0  153.0

In [ ]:
reference_info =

In [18]:
train_loan.head()

,user_id,pc0,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc10,pc11,pc12,pc13,pc14,pc15,pc16,label,reference_contact,loan_type,ts
0,3,1.0,1.0,0.275,0.255,0.927273,0.4,0.260,0.040,1.0,0.072727,0.023077,0.078431,0.750000,0.018182,0.250000,0,NaN,NaN,NaN
1,5,0.0,0.0,0.430,0.365,0.848837,0.4,1.253,0.210,1.0,0.151163,0.014366,0.054795,0.500000,0.011628,0.250000,0,2191460.0,5.0,759.0
2,5,0.0,0.0,0.430,0.365,0.848837,0.4,1.253,0.210,1.0,0.151163,0.014366,0.054795,0.500000,0.011628,0.250000,0,176154.0,10.0,116.0
3,9,1.0,3.0,1.315,0.825,0.627376,0.9,2.385,0.128,1.0,0.372624,0.048218,0.054545,0.777778,0.003802,0.111111,0,1611064.0,4.0,350.0
4,9,1.0,3.0,1.315,0.825,0.627376,0.9,2.385,0.128,1.0,0.372624,0.048218,0.054545,0.777778,0.003802,0.111111,0,609079.0,4.0,153.0